@media screen and (min-width: 350px) and (max-width: 599px){
    .menu, .numeros, .tabela{
        width: 97%;
    }
    .menu-lateral{
        width: 230px;
    }

    .funcoes{
        & input{
            padding: 10px;
            width: 300px;
        }
    }
    .lupa{
        position: absolute;
        padding: 6px 9px;
        margin-left: 256px;
        margin-top: 4px;
        & img{
            height: 43px;
            border-radius: 10px;
        }
    }
    .titulo{
        & h1{
            font-size: 20px;
        }
        & .barra{
            height: 3px;
        }
    }
    .tabela{
        max-height: 90vh;
        margin: 30px;
    }
    table, th, td{
        padding: 3px;
    }
    th{
        font-size: 12px;
    }
    td{
        font-size: 12px;
    }
    #numeros_cl{
        width: 15px;
    }
    #nome_cl{
        width: 100%;
    }
    #telefone_cl{
        width: 100%;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px){
    .menu, .numeros, .tabela{
        width: 95%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1499px){
    .menu, .numeros, .tabela{
        width: 1000px;
    }
}